<header>
  <div class="container">
      <div class="buttonback">
        <button class="btn btn-primary" (click)="goBack()">Voltar</button>
      </div>
    <div class="row">
      <div class="col-12">
        <h4>{{getState(o)}}</h4>
      </div>
    </div>
  </div>
</header>
<body>
  <section>
    <router-outlet #o="outlet"></router-outlet>
  </section>
</body>
<footer>
</footer>

<!--Toast-->
<div class="toast {{objToast.type}}" [ngClass]="{'visible': showToast}">{{ objToast.message }}</div>